<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
	<link rel="stylesheet" href="{{static '/vendor/bootstrap.min.css'}}">
	{{{_sections.head}}}
</head>
<body>
	<header><img src="{{static '/img/logo.png'}}" alt="Meadowlark Travel Logo"></header>
	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
			<button type="button" class="close"	data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>{{flash.intro}}</strong> {{{flash.message}}}
		</div>
	{{/if}}

	{{{body}}}

	<script src="{{static '/vendor/jquery-2.1.1.min.js'}}"></script>
	<script src="{{static '/vendor/bootstrap.min.js'}}"></script>
	{{{_sections.jquery}}}
	
	{{#if showTests}}
	<script src="{{static '/qa/tests-global.js'}}"></script>
	{{#if pageTestScript}}<script src="{{pageTestScript}}"></script>{{/if}}
	{{/if}}
</body>
</html>